<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.rafaelRoberto.happinessJar" version="0.0.1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HappinessJar</name>
    <description>
        Just an app that store all of your happiness events in a jar
        so that you can remember them later on. :)
    </description>
    <author email="contato@rafaelroberto.com.br"
        href="http://www.rafaelroberto.com.br">
        Rafael Roberto
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="default"/>
    <preference name="target-device" value="universal"/>
    <preference name="show-splash-screen-spinner" value="true"/>
    <gap:plugin name="org.apache.cordova.dialogs"/>
    <gap:plugin name="org.apache.cordova.splashscreen"/>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
		<icon src="resources\android\icon\drawable-ldpi-icon.png" density="ldpi"/>
		<icon src="resources\android\icon\drawable-mdpi-icon.png" density="mdpi"/>
		<icon src="resources\android\icon\drawable-hdpi-icon.png" density="hdpi"/>
		<icon src="resources\android\icon\drawable-xhdpi-icon.png" density="xhdpi"/>
		<icon src="resources\android\icon\drawable-xxhdpi-icon.png" density="xxhdpi"/>
		<icon src="resources\android\icon\drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
		<splash src="resources\android\splash\drawable-land-ldpi-screen.png" density="land-ldpi"/>
		<splash src="resources\android\splash\drawable-land-mdpi-screen.png" density="land-mdpi"/>
		<splash src="resources\android\splash\drawable-port-ldpi-screen.png" density="port-ldpi"/>
		<splash src="resources\android\splash\drawable-port-mdpi-screen.png" density="port-mdpi"/>		
    </platform>
</widget>
